#carousel {
	border: 3px solid green;
	margin: 150px auto;
	overflow: hidden;
}

img, #carousel, li {
	width: 400px;
	height: 300px;
}

li {
	list-style-type: none;
	float: right;
}
ul {
<<<<<<< HEAD
	text-decoration: none;
	list-style-type: none;
=======
>>>>>>> 6d07a023a0888c6bf5b607275c9deab4743b5c0c
	padding: 0;
	margin: 0;
	width: 2000px;
}
